body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightpink;
}

header img {
    width: 100%;
}

a {
    color: black;
}

h1 a {
    font-size: 48px;
}

h2 a {
    font-size: 36px;
}

article p {
    font-style: italic;
}

time {
    color: #34374c;
}

footer p {
    color: #34374c;
}
